/*===========================Some SCSS Imports========================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
/*===========================Some SCSS Variable========================*/
/*===========================Global SCSS========================*/
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid;
  text-transform: capitalize;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

header .navbar {
  text-transform: uppercase;
}

header .navbar-light .navbar-brand {
  line-height: 0;
}

header .navbar-light .navbar-brand h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

header .navbar-light .navbar-brand h1 span {
  color: red;
}

header .navbar-light .navbar-brand p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}

header .nav-link {
  color: black !important;
  font-size: 1.1rem;
  font-weight: 100;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

header .active .nav-link,
header .nav-link:hover {
  outline: 1px solid red;
  outline-offset: -5px !important;
  font-weight: 600;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
}

.hero .hero-cap {
  text-align: center;
}

.hero .hero-cap span {
  color: red;
}

.hero .hero-cap h3 {
  margin-top: 15%;
}

.hero .hero-cap h5 {
  padding: 2rem 6px;
}

.hero .hero-slide {
  width: 100%;
  border: 2px solid red;
}

.hero .hero-slide img {
  height: 486px !important;
  -webkit-box-shadow: 1px 2px 7px;
          box-shadow: 1px 2px 7px;
}

.freedom {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.freedom .img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.freedom .company-info h1 {
  text-transform: uppercase;
  font-weight: 600;
}

.freedom .company-info h1 span {
  color: red;
}

.freedom .company-info p {
  padding-top: 1.4rem;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.apoinment-section {
  padding-top: 2rem;
}

.apoinment-section .row {
  margin: 0;
}

.apoinment-section .row .img-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.apoinment-section .row .img-col img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}

.apoinment-section .apoinment {
  padding-bottom: 3rem;
}

.apoinment-section .apoinment .icon {
  float: left;
  font-size: 6rem;
  color: #55b1ed;
  padding: 16px;
}

.apoinment-section .apoinment .apoinment-cap {
  padding-left: 10rem;
}

.apoinment-section .apoinment .apoinment-cap span {
  color: red;
}

.service {
  margin-top: 2rem;
}

.service .service-tagline {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service .service-tagline .cap h1 {
  font-size: 4rem;
  color: #55b1ed;
}

.service .service-tagline .buttons {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service .service-tagline .buttons button {
  text-transform: capitalize;
  padding: 10px 3rem;
  background-color: #fff;
  margin-top: 4px;
  position: relative;
  text-align: end;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.service .service-tagline .buttons button i {
  background-color: red;
  color: #fff;
  padding: 19px 9px;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.service .service-tagline .buttons button:hover {
  background-color: red;
  color: #fff;
  font-weight: bold;
}

.service .service-offer {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.service .service-offer .cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .service-offer .cap h1 {
  font-size: 1.5rem;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
}

.service .service-offer .cap p {
  padding: 1rem 10px;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: 5rem;
}

footer .stay-connected ul li {
  display: inline-block;
  margin: 1rem;
}

footer .stay-connected ul li i {
  font-size: 2rem;
}

footer .copyright {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
  font-family: monospace;
}

/*Responsive media query*/
@media (max-width: 991px) {
  .active .nav-link,
  .nav-link:hover {
    outline: none !important;
  }
  .freedom .company-info h1 {
    font-size: 1.5rem;
  }
  .freedom .company-info p {
    /* padding-top: 1.4rem; */
    word-spacing: 0;
    letter-spacing: 0;
  }
  .apoinment-section .apoinment {
    padding-bottom: 3rem;
    margin-top: 2rem;
  }
  .service .service-tagline .cap h1 {
    font-size: 2.5rem;
  }
  .service .service-tagline .buttons {
    font-size: initial;
  }
  .service .service-tagline .buttons button i {
    padding: 7px 9px;
  }
  .service .service-offer {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .service .service-offer img {
    width: 100%;
  }
}

@media (max-width: 806px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .hero-slide {
    border: none;
    margin-top: 1rem;
  }
  .freedom {
    text-align: center;
  }
  .freedom .img-grid {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  footer h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 730px) {
  .freedom {
    display: block;
    width: 90%;
    margin: 1rem auto;
  }
  .freedom .img-grid {
    display: none !important;
  }
}

.about-slide img {
  height: 18rem;
}

.about-section h1 {
  text-align: center;
  text-transform: uppercase;
  background: #db3d3d;
  color: #fff;
  font-family: fantasy;
  padding: 10px;
}

.about-section h3 {
  border: 1px solid red;
  font-family: monospace;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
}

.about-section .about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 15px;
}

.about-section .about-grid .mission .border {
  border: 1px solid red;
  margin-top: -8px;
  padding: 10px;
}

.about-section .about-grid .about-img img {
  width: 100%;
  height: 20rem;
}

.service-offer {
  margin-top: 3rem;
}

.service-offer .offer-grid {
  margin-top: 2.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.service-offer .offer-grid .offer {
  position: relative;
}

.service-offer .offer-grid .offer .btn-lg {
  position: absolute;
  background: #e9802b;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 1.3rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.service-offer .offer-grid .offer img {
  width: 100%;
  position: relative;
}

.service-offer .offer-grid .offer:hover .btn-lg {
  top: 60%;
  background-color: #55b1ed;
}
/*# sourceMappingURL=style.css.map */